* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  background-color: black;
  text-align: center;
}

.todolist {
  margin: 50px auto;
  padding: 16px;
  min-height: 580px;
  max-width: 300px;
  background-color: #72c9cc;
  background-size: 40px 40px;
  border-radius: 20px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading h1 {
  width: 60%;
  margin-top: 30px;
  background-color: #3a93bd;
  border-radius: 10px;
  padding: 0.2rem 1.2rem;
}

.todolist form {
  margin-top: 40px;
}

.todolist input {
  border: 0;
  border-bottom: 3px solid black;
  background-color: transparent;
  font-size: 1.3rem;
  padding: 10px 15px;
  width: 70%;
}

.todolist button {
  margin-top: 30px;
  border: 3px solid black;
  background-color: #3a93bd;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 0.9rem;
  cursor: pointer;
}

.items {
  margin: 20px 0 0 30px;
}

.items ul li {
  text-align: left;
  margin: 20px 10px;
  font-size: 1.4rem;
  font-weight: 300;
  list-style-image: url(./red-x.png);
  cursor: pointer;
}