* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    background-color: black;
    text-align: center;
    padding: 0 50px;
}

.todolist {
    margin: 50px auto;
    padding: 16px;
    min-height: 580px;
    max-width: 800px;
    background-color: rgb(114, 201, 204);
    background-size: 40px 40px;
    border-radius: 20px;

    form {
        margin-top: 40px;
    }

    input {  
        border: 0;
        border-bottom: 3px solid black;
        background-color: transparent;
        font-size: 1.3rem;
        padding: 10px 15px;
        width: 70%;
    }

    button {
        margin-top: 30px;
        margin-left: 10px;
        background-color:  green;
        border-radius: 8px;
        padding: 10px 15px;
        font-size: 0.9rem;
        cursor: pointer;
        box-shadow: 2px 4px 2px 3px black;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;

    h1{
        width: 60%;
        margin-top: 30px;
        background-color: #3a93bd;
        border-radius: 10px;
        padding: 0.2rem 1.2rem; 
    }
}

.items {
    margin: 20px 0 0 30px;

    ul li {
        text-align: left;   
        margin: 0px 10px;
        font-size: 1.4rem;
        font-weight: 300;
        list-style: none;
    }

    .delete-btn{
        background-color: rgb(179, 71, 71);
        margin-right: 10px;
        padding: 5px 10px;
    }

}